@using static Daskata.Core.Shared.Methods;
@model List<FullExamViewModel>

@{

    ViewData["Title"] = "Всички изпити";
}

<div class="container mt-5 floor">
    <div class="row page-title-box align-items-center">
        <div class="col-sm-6">
            <h1 class="p-3" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Всички изпити</h1>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <a asp-area="" asp-controller="Exam" asp-action="All" class="btn btn-primary w-100 button-title">Всички изпити</a>
                </div>
                <div class="col-sm-12">
                    <a asp-area="" asp-controller="Exam" asp-action="My" class="btn btn-primary w-100 button-title">Моите изпити</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        @foreach (var exam in Model)
        {
            if (exam != null & exam!.IsPublished)
            {
                <div class="exam-box" onclick="previewExam('@exam.ExamUrl')">
                    <div class="exam-status-eye all">@await Html.PartialAsync(exam.IsPublic ? "_PublicEyePartial" : "_PrivateEyePartial")</div>
                    <p><span class="exam-title">@exam.Title</span></p>
                    <p><span class="exam-description">@exam.Description</span></p>
                    <div class="exam-box-inner">
                        <div class="exam-box-sub"><span class="exam-sub-text">⌛ @exam.Duration мин</span></div>
                        <div class="exam-box-sub"><span class="exam-sub-text">✍️ @exam.TotalPoints т.</span></div>
                        <div class="exam-box-sub"><span class="exam-sub-text">📅 @GetRegistrationMonthYearAsNumbers(exam.CreationDate.ToString())</span></div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/reduce-title-description.js"></script>
    <script src="~/js/preview-id-fetch.js"></script>
}