@using static Daskata.Core.Shared.Methods;
@model List<ExamCollectionViewModel>

@{

    ViewData["Title"] = "Създадени от мен изпити";
}

<div class="home-container-column">
    <div class="row">
        <h2 class="page-title mb-5">Моите изпити</h2>
        @foreach (var exam in Model)
        {
            <div class="exam-box">
                <div class="exam-status @(exam.IsPublished ? "active" : "non-active")"></div>
                <p><span class="exam-title">@exam.Title</span></p>
                <p><span class="exam-description">@exam.Description</span></p>
                <div class="exam-box-inner">
                    <div class="exam-box-sub"><span class="exam-sub-text">⌛ @FormatTimeSpanAsMinutes(exam.Duration)</span></div>
                    <div class="exam-box-sub"><span class="exam-sub-text">⭐ @exam.TotalPoints</span></div>
                    <div class="exam-box-sub"><span class="exam-sub-text">📅 @GetRegistrationMonthYearAsNumbers(exam.CreationDate.ToString())</span></div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/post-notification.js"></script>
    <script src="~/js/reduce-title-description.js"></script>
}