@using static Daskata.Core.Shared.Methods;
@model List<PartialExamViewModel>

@{

    ViewData["Title"] = "Моите изпити";
}

<div class="container mt-5 mb-5">

    <div class="row page-title-box align-items-center">
        <div class="col-sm-6">
            <h1 class="p-3" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);">Моите изпити</h1>
        </div>
        <div class="col-sm-6">
            <div class="row">
                <div class="col-sm-12">
                    <a asp-area="" asp-controller="Exam" asp-action="All" class="btn btn-primary w-100 button-title">Всички изпити</a>
                </div>
                <div class="col-sm-12">
                    <a asp-area="" asp-controller="Exam" asp-action="My" class="btn btn-primary w-100 button-title">Моите изпити</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        @foreach (var exam in Model)
        {
            <div class="exam-box" onclick="previewExam('@exam.ExamUrl')">
                <div class="exam-status @(exam.IsPublished ? "active" : "non-active")" onclick="@exam.ExamUrl)"></div>
                <p><span class="exam-title">@exam.Title</span></p>
                <p><span class="exam-description">@exam.Description</span></p>
                <div class="exam-box-inner">
                    <div class="exam-box-sub"><span class="exam-sub-text">⌛ @FormatTimeSpanAsMinutes(exam.Duration)</span></div>
                    <div class="exam-box-sub"><span class="exam-sub-text">✍️ @exam.TotalPoints т.</span></div>
                    <div class="exam-box-sub"><span class="exam-sub-text">📅 @GetRegistrationMonthYearAsNumbers(exam.CreationDate.ToString())</span></div>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script src="~/js/reduce-title-description.js"></script>
    <script src="~/js/preview-id-fetch.js"></script>
}