@using Daskata.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using static Daskata.Core.Shared.Methods;
@model FullExamViewModel;
@inject UserManager<UserProfile> _userManager

@{
    ViewData["Title"] = "Изпит";
    var userId = @Model.CreatedByUserId.ToString();
    var CreatedByUser = await _userManager.FindByIdAsync(userId);
}

<div class="home-container-column">
    <div class="row">
        <div class="exam-preview">
            <h3 class="mb-5">@Model.Title</h3>
            <p class="mb-5">@Model.Description</p>
            <div class="row">
                <div class="col-md-6">
                    <p class="m-0">Автор: <span style="cursor: pointer; color: #0093f5" onclick="previewUserProfile('@CreatedByUser!.UserName')">@@@CreatedByUser.UserName</span></p>
                    <p class="m-0">Създаден на дата: @GetRegistrationMonthYearAsNumbers(Model.CreationDate.ToString())</p>
                    <p class="m-0">Последна промяна: @GetRegistrationMonthYearAsNumbers(Model.LastModifiedDate.ToString())</p>
                </div>
                <div class="col-md-6 mb-5">
                    <p class="m-0">Статус: <span style="color: @(Model.IsPublished ? "green" : "red")"> @(Model.IsPublished ? "Активен" : "Чернова") </span></p>
                    <p class="m-0">Максимален брой точки: @Model.TotalPoints</p>
                    <p class="m-0">Продължителност: @FormatTimeSpanAsMinutes(@Model.Duration)</p>
                </div>
            </div>
            <div class="exam-preview-button">
                <a href="/Exam/Preview/@Model.ExamUrl/Edit" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Редактирай описание</a>
            </div>
            <div class ="exam-preview-button">
                <a asp-area="" asp-controller="Exam" asp-action="Questions" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Редактирай въпроси</a>
            </div>
            <div class="exam-preview-button">
                <a asp-area="" asp-controller="Exam" asp-action="Asign" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Изпрати до ученик</a>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/user-profile-fetch.js"></script>
}