@using Daskata.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using static Daskata.Core.Shared.Methods;
@model FullExamViewModel;
@inject UserManager<UserProfile> _userManager

@{
    ViewData["Title"] = "Изпит";
    var userId = @Model.CreatedByUserId.ToString();
    var createdByUser = await _userManager.FindByIdAsync(userId);
    var loggedUser = await _userManager.GetUserAsync(User);
}

<div class="home-container-column">
    <div class="row">
        <div class="exam-preview">
            <h3 class="mb-5">@Model.Title</h3>
            <p class="mb-5">@Model.Description</p>
            <div class="row">
                <div class="col-md-6">
                    <p class="m-0">Автор: <span style="cursor: pointer; color: #0767a3;" onclick="previewUserProfile('@@@createdByUser!.UserName')">@@@createdByUser.UserName</span></p>
                    <p class="m-0">Създаден на дата: @GetRegistrationMonthYearAsNumbers(Model.CreationDate.ToString())</p>
                    <p class="m-0">Последна промяна: @GetRegistrationMonthYearAsNumbers(Model.LastModifiedDate.ToString())</p>
                    <p class="m-0">Предмет: @TranslateExamSubjectInBG(Model.StudySubject.ToString())</p>
                    <p class="m-0">Публичен: <span style="color: @(Model.IsPublic ? "green" : "red");"> @(Model.IsPublic ? "Да" : "Не")</span></p>
                </div>
                <div class="col-md-6 mb-5">
                    <p class="m-0">Максимален брой точки: @Model.TotalPoints</p>
                    <p class="m-0">Продължителност: @Model.Duration мин</p>
                    <p class="m-0">Подходяща възраст: @GradeNumberExtract(Model.StudentGrade.ToString()) клас</p>
                    <p class="m-0">Брой успешно издържан: @Model.TimesPassed</p>
                    <p class="m-0">Статус: <span style="color: @(Model.IsPublished ? "green" : "red");"> @(Model.IsPublished ? "Активен" : "Чернова") </span></p>
                </div>
            </div>
            @{
                if (userId == loggedUser!.Id.ToString())
                {
                    <div class="exam-preview-button">
                        <a href="/Exam/Preview/@Model.ExamUrl/Edit" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Редактирай информация</a>
                    </div>
                    <div class="exam-preview-button">
                        <a href="/Exam/Preview/@Model.ExamUrl/Open" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Прегледай съдържание</a>
                    </div>
                    <div class="exam-preview-button">
                        <a asp-area="" asp-controller="Exam" asp-action="Asign" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Изпрати до ученик</a>
                    </div>
                }
                else if (userId != loggedUser!.Id.ToString() && true)
                {
                    if (Model.IsPublic)
                    {
                        <div class="exam-preview-button">
                            <a href="/Exam/Preview/@Model.ExamUrl/Open" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Прегледай съдържание</a>
                        </div>
                        <div class="exam-preview-button">
                            <a asp-area="" asp-controller="Exam" asp-action="Asign" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Изпрати до ученик</a>
                        </div>
                    }
                    else
                    {
                        <p><span class="warning-labels">Вие сте свързани със създателя @@@createdByUser.UserName, но той е решил, че този изпит трябва да остане частен. Можете да <a href="#" class="text-danger">изпратите съобщение</a> и да поискате да го направите публичен. Това ще ви позволи да използвате изпита, както сметнете за добре.</span></p>
                    }
                }
                else
                {
                    <div class="exam-preview-button text-center">
                        <p><span class="warning-labels">За да ползвате изпита трябва да имате установена връзка със създателя!</span></p>
                        <a href="/Profile/Preview/@@@createdByUser.UserName" class="button-create-test btn btn-primary d-flex justify-content-center align-items-center m-0">Свържи се със създателя</a>
                    </div>
                }
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/user-profile-fetch.js"></script>
}