@using Daskata.Infrastructure.Data
@using Daskata.Infrastructure.Data.Models
@using Microsoft.AspNetCore.Identity
@using static Daskata.Core.Shared.Methods;
@model Daskata.Core.ViewModels.UserProfileModel
@inject UserManager<UserProfile> _userManager

@{
    ViewData["Title"] = "Профил";

    var loggedUser = await _userManager.GetUserAsync(User);
    var userRolesNames = await _userManager.GetRolesAsync(loggedUser!);
    var roleName = userRolesNames.FirstOrDefault() ?? "None";

    var userFirstName = loggedUser?.FirstName ?? "Име";
    var userLastName = loggedUser?.LastName ?? "Фамилия";

    var userLocation = loggedUser?.Location ?? "София, България";
    var userSchool = loggedUser?.School ?? "ОУ 'Христо Смирненски'";

    var modifiedDate = loggedUser!.RegistrationDate.ToString();
    var formattedRegistrationDate = GetRegistrationMonthYearAsText(modifiedDate);
}

<div class="home-container-column">
    <div class="row profile-container-cover m-1">
        <div class="col-md-3">
            <img src="@Model.ProfilePictureUrl" class="profile-pic-edit" alt="Профилна снимка на @Model.FirstName @Model.LastName">
        </div>
        <div class="col-md-9">
            <div class="row profile-container-info">
                <div class="col profile-name-resp">
                    <span class="profile-acc-name">@Model.FirstName @Model.LastName</span>
                </div>
                <div class="col-md-4 text-end mt-2 mb-2 profile-button-resp-desktop">
                    <a class="btn btn-primary button-connect" id="connectButtonDesktop" href="#">Редактирай</a>
                </div>
                <div class="mb-2">
                    <span class="profile-acc-username" id="viewUserUsername">@@@Model.Username</span>
                    <input type="hidden" id="loggedUserUsername" value="@loggedUser.UserName" />
                </div>
                <div class="mb-2">
                    <span class="profile-acc-username">@TranslateRoleInBG(roleName)</span>
                </div>
                <div class="col-md-4 text-end mt-4 mb-4 profile-button-resp-mobile">
                    <a class="btn btn-primary button-connect" id="connectButtonMobile" href="#">Редактирай</a>
                </div>
                <div class="mb-4 mt-2">
                    <span class="profile-acc-info">@Model.AdditionalInfo</span>
                </div>
                <div class="row">
                    @if (@loggedUser.School != string.Empty && @loggedUser.School != null)
                    {
                        <div class="col-md-4 mb-2 mt-2"><div class="profile-box"><img src="~/lib/school.png" alt="Моето училище"> @loggedUser!.School</div></div>
                    }
                    @if (@loggedUser.Location != string.Empty && @loggedUser.Location != null)
                    {
                        <div class="col-md-4 mb-2 mt-2"><div class="profile-box"><img src="~/lib/location.png" alt="Моята локация"> @loggedUser!.Location</div></div>
                    }
                    <div class="col-md-4 mb-2 mt-2"><div class="profile-box"><img src="~/lib/calendar.png" alt="Дата на присъединяване"> Регистриран @formattedRegistrationDate</div></div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/js/buttons-edit-connect.js"></script>
}